body {
  font-size: 25px;
  font-weight: 400;
  overflow-x: hidden;
  background-color:#f6f6f6;
}

a {
  transition: all 0.3s ease;
}

.tm-page-container {
  max-width: 600px;
  width: 100%;  
}

.tm-header {
  padding: 65px 15px;
}
